
    @define-color background #101418;

    @define-color error #ffb4ab;

    @define-color error_container #93000a;

    @define-color inverse_on_surface #2e3135;

    @define-color inverse_primary #34618e;

    @define-color inverse_surface #e1e2e8;

    @define-color on_background #e1e2e8;

    @define-color on_error #690005;

    @define-color on_error_container #ffdad6;

    @define-color on_primary #003257;

    @define-color on_primary_container #d1e4ff;

    @define-color on_primary_fixed #001d35;

    @define-color on_primary_fixed_variant #174974;

    @define-color on_secondary #253140;

    @define-color on_secondary_container #d6e4f7;

    @define-color on_secondary_fixed #0f1c2b;

    @define-color on_secondary_fixed_variant #3b4858;

    @define-color on_surface #e1e2e8;

    @define-color on_surface_variant #c3c7cf;

    @define-color on_tertiary #3a2948;

    @define-color on_tertiary_container #f1daff;

    @define-color on_tertiary_fixed #241432;

    @define-color on_tertiary_fixed_variant #524060;

    @define-color outline #8c9199;

    @define-color outline_variant #42474e;

    @define-color primary #9fcafc;

    @define-color primary_container #174974;

    @define-color primary_fixed #d1e4ff;

    @define-color primary_fixed_dim #9fcafc;

    @define-color scrim #000000;

    @define-color secondary #bac8db;

    @define-color secondary_container #3b4858;

    @define-color secondary_fixed #d6e4f7;

    @define-color secondary_fixed_dim #bac8db;

    @define-color shadow #000000;

    @define-color source_color #698bb2;

    @define-color surface #101418;

    @define-color surface_bright #36393e;

    @define-color surface_container #1d2024;

    @define-color surface_container_high #272a2f;

    @define-color surface_container_highest #32353a;

    @define-color surface_container_low #191c20;

    @define-color surface_container_lowest #0b0e13;

    @define-color surface_dim #101418;

    @define-color surface_tint #9fcafc;

    @define-color surface_variant #42474e;

    @define-color tertiary #d6bee5;

    @define-color tertiary_container #524060;

    @define-color tertiary_fixed #f1daff;

    @define-color tertiary_fixed_dim #d6bee5;

