
    @define-color background #18130b;

    @define-color error #ffb4ab;

    @define-color error_container #93000a;

    @define-color inverse_on_surface #362f27;

    @define-color inverse_primary #7e570f;

    @define-color inverse_surface #ede1d4;

    @define-color on_background #ede1d4;

    @define-color on_error #690005;

    @define-color on_error_container #ffdad6;

    @define-color on_primary #442b00;

    @define-color on_primary_container #ffddb1;

    @define-color on_primary_fixed #291800;

    @define-color on_primary_fixed_variant #614000;

    @define-color on_secondary #3d2e16;

    @define-color on_secondary_container #fadebc;

    @define-color on_secondary_fixed #271904;

    @define-color on_secondary_fixed_variant #56442a;

    @define-color on_surface #ede1d4;

    @define-color on_surface_variant #d3c4b4;

    @define-color on_tertiary #233516;

    @define-color on_tertiary_container #d3eabd;

    @define-color on_tertiary_fixed #0f2004;

    @define-color on_tertiary_fixed_variant #394c2b;

    @define-color outline #9b8f80;

    @define-color outline_variant #4f4539;

    @define-color primary #f3bd6e;

    @define-color primary_container #614000;

    @define-color primary_fixed #ffddb1;

    @define-color primary_fixed_dim #f3bd6e;

    @define-color scrim #000000;

    @define-color secondary #dcc3a1;

    @define-color secondary_container #56442a;

    @define-color secondary_fixed #fadebc;

    @define-color secondary_fixed_dim #dcc3a1;

    @define-color shadow #000000;

    @define-color source_color #9b8b77;

    @define-color surface #18130b;

    @define-color surface_bright #3f382f;

    @define-color surface_container #251f17;

    @define-color surface_container_high #2f2921;

    @define-color surface_container_highest #3a342b;

    @define-color surface_container_low #201b13;

    @define-color surface_container_lowest #120d07;

    @define-color surface_dim #18130b;

    @define-color surface_tint #f3bd6e;

    @define-color surface_variant #4f4539;

    @define-color tertiary #b7cea2;

    @define-color tertiary_container #394c2b;

    @define-color tertiary_fixed #d3eabd;

    @define-color tertiary_fixed_dim #b7cea2;

