@import "colors.css";

* {
    font-family: JetBrainsMono Nerd Font;
    font-size: 13px;
    color: white;
    box-shadow: transparent;
    transition: 0.05s ease-in;
    border-radius: 4px;
}

button:hover {
    border: inherit;
    box-shadow: inherit;
    text-shadow: inherit;
    background-image: none;
    background-color: @surface_container_high;
}

window#waybar {
    background: transparent;
}

#workspaces button {
    border: none;
    margin-right: 4px;
    padding: 0 5px;
    background-color: @background;
}

#workspaces button:hover {
    background-color: @surface_container_high;
}

#workspaces > :last-child {
    margin-right: 0;
}

#window {
    padding: 4px 8px;
}

#cava,
#clock,
#tray,
#cpu,
#pulseaudio,
#bluetooth,
#memory,
#custom-shutdown,
#custom-lock,
#custom-reboot,
#custom-quit {
    background-color: @background;
    padding: 0 4px;
    padding: 4px 8px;
}

#tray {
    padding: 0px 6px;
}

#cpu {
    color: #a6e3a1;
}

#memory {
    color: #94e2d5;
}

#bluetooth {
    color: #74c7ec;
}

#pulseaudio {
    color: #89b4fa;
}

#custom-shutdown,
#custom-lock,
#custom-reboot,
#custom-quit {
    color: #cdd6f4;
    padding-right: 12px;
    margin-right: 4px;
}

#custom-shutdown {
    margin-right: 0;
}
